@inherits LayoutComponentBase

<nav class="navbar py-0 bg-blazing">
    <div class="container-fluid">
        <NavMenu />
    </div>
</nav>

<div class="container-fluid d-flex p-0 h-100" id="main">
    @Body
</div>
