@foreach (var pizza in Order.Pizzas)
{
    <p>
        <strong>
            @(pizza.Size)"
            @pizza.Special?.Name
            (£@pizza.GetFormattedTotalPrice())
        </strong>
    </p>

    <ul class="list-unstyled">
        @foreach (var topping in pizza.Toppings)
        {
            <li class="ps-4">+ @topping.Topping?.Name</li>
        }
    </ul>
}

<p>
    <strong>
        Total price:
        £@Order.GetFormattedTotalPrice()
    </strong>
</p>

@code {
    [Parameter, EditorRequired] 
    public Order Order{ get; set; } = new();
}
