<div class="dialog-container" id="@DialogId">
    <div class="dialog">
        @ChildContent
    </div>
</div>

@code {
    [Parameter, EditorRequired] public required string DialogId { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
}
