@page "/inline-validation-1"
@attribute [HxRoute("/inline-validation-1/email")]
@code {
    [SupplyParameterFromForm]
    public Contact Contact { get; set; } = new();

    private bool invalidEmail;

    private void ValidateEmail(HtmxEventArgs e)
    {
        invalidEmail = Contact.Email != "test@test.com";
    }
}
<h3>Signup Form</h3>
<EditForm Model=@Contact hx-post="/inline-validation-1">
    <HtmxPartial>
        <div hx-target="this" hx-swap="outerHTML">
            <label>Email Address</label>
            <InputText type="email" @bind-Value="@Contact.Email" hx-post="/inline-validation-1/email" hx-indicator="#validationIndicator" @onpost="ValidateEmail" />
            <img id="validationIndicator" src="/img/bars.svg" class="htmx-indicator" />
            @if (invalidEmail)
            {
                <div class='error-message'>That email is already taken. Please enter another email.</div>
            }
        </div>
    </HtmxPartial>
    <div class="form-group">
        <label>First Name</label>
        <InputText @bind-Value="@Contact.FirstName" />
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <InputText @bind-Value="@Contact.LastName" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</EditForm>
