@page "/contacts/archive"
@inject Archiver archiver
@code {

}
<div id="archive-ui" hx-target="this" hx-swap="outerHTML">
    @if (archiver.Status == "Waiting")
    {
        <button hx-post="/contacts/archive">
            Download Contact Archive
        </button>
    }
    else if (archiver.Status == "Running")
    {
        <div hx-get="/contacts/archive" hx-trigger="load delay:500ms">
            Creating Archive...
            <div class="progress">
                <div id="archive-progress" class="progress-bar" style="width: @archiver.Progress * 100"></div>
            </div>
        </div>
    }
    else if (archiver.Status == "Complete")
    {
        <a hx-boost="false" href="/contacts/archive/file" _="on load click() me">Archive Downloading!  Click here if the download does not start.</a>
        <button hx-delete="/contacts/archive">Clear Download</button>
    }
</div>