@attribute [HxRoute("/contacts", Trigger = "search")]
@code {
    [Parameter, EditorRequired] 
    public required IEnumerable<Contact> Contacts { get; set; }
}
@foreach (var contact in Contacts)
{
    <tr>
        <td>
            <input type="checkbox" name="selected_contact_ids" value="{{ contact.id }}"
                   x-model="selected">
        </td>
        <td>@contact.First</td>
        <td>@contact.Last</td>
        <td>@contact.Phone</td>
        <td>@contact.Email</td>
        <td>
            <div data-overflow-menu>
                <button type="button" aria-haspopup="menu"
                        aria-controls="contact-menu-@contact.Id">
                    Options
                </button>
                <div role="menu" hidden id="contact-menu-@contact.Id">
                    <a role="menuitem" href="/contacts/@contact.Id/edit">Edit</a>
                    <a role="menuitem" href="/contacts/@contact.Id">View</a>
                    <a role="menuitem" href="#"
                       hx-delete="/contacts/@contact.Id"
                       hx-confirm="Are you sure you want to delete this contact?"
                       hx-swap="outerHTML swap:1s"
                       hx-target="closest tr">Delete</a>
                </div>
            </div>
        </td>
    </tr>
}