<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Htmxor.TestApp.styles.css" />
    <script defer src="/js/htmx.min.js"></script>
    <script defer src="_content/Htmxor/htmxor.js"></script>
    <HtmxConfigHeadOutlet />
    <HeadOutlet />
</head>
<body>
    <Routes />
</body>
</html>
