@page "/weather"
@inherits ConditionalComponentBase
<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing lazy loaded data.</p>

<HtmxAsyncLoad Element="table" Id="weather-data" class="table">
    <Loading>
        <PageTitle>Weather - Loading data, please wait ...</PageTitle>
        <caption>Loading data . . .</caption>
    </Loading>
    <ChildContent>
        <WeatherData />
    </ChildContent>
</HtmxAsyncLoad>
