@page "/weather"
<PageTitle>Weather - loading data</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

<div id="weather_status" class="mb-3">
	<div class="weather-message alert alert-primary" role="alert">
		Weather status: Not loaded
	</div>
</div>

<div id="weather" hx-get="/weather/data" hx-trigger="load">
    <p>Loading weather...</p>
</div>



