@page "/weather"
<PageTitle>Weather - loading data</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

<HtmxSwappable LazyLoad="true" TargetId="weather">
	<Placeholder>
		<table class="table">
			<caption>Loading data . . .</caption>
		</table>
	</Placeholder>
	<ChildContent>
		<WeatherData/>
	</ChildContent>
</HtmxSwappable>

