@page "/weather"
<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>
<table hx-get="/weather/data" hx-trigger="load" class="table">
    <caption>Loading data . . .</caption>
</table>