<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" href="img/icon-512.png" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="BlazingPizza.styles.css" />
    <title>Blazing Pizza</title>
    <HtmxHeadOutlet />
    <HeadOutlet />
</head>

<body>
    <Routes />
</body>
</html>
