@inherits LayoutComponentBase
<header class="container p-3 bg-secondary text-white shadow">
    This header contains content that can be updated out of bounds:
    <SectionOutlet SectionName="message" />
</header>

<main class="container p-3">
    @Body
</main>

<ToastOutlet />

