@page "/contacts/new"
@inject ContactsRepository Repo
@inject NavigationManager NavMan
@code {
    [CascadingParameter()]
    public required FlashMessageQueue FlashMessages { get; init; }

    [SupplyParameterFromForm]
    public Contact? Contact { get; set; }

    protected override void OnInitialized() => Contact ??= new();

    private async Task OnSubmit()
    {
        if (await Repo.Save(Contact!))
        {
            FlashMessages.Add("Created New Contact!", FlashMessageType.Success);
            NavMan.NavigateTo("/contacts");
        }
    }
}
@if (Contact is null) return;

<ContactForm Contact="@Contact" OnValidSubmit="OnSubmit" />

<p>
    <a href="/contacts">Back</a>
</p>