@code {
    [Parameter, EditorRequired]
    public required Contact Contact { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}
<EditForm Model="Contact" OnValidSubmit="OnValidSubmit" FormName="contact-form" Enhance>
    <FluentValidationValidator />
    <fieldset>
        <legend>Contact Values</legend>
        <p>
            <label for="email">Email</label>
            <InputText @bind-Value="Contact!.Email" id="email" placeholder="Email" type="email" DisplayName="Email" />
            <ValidationMessage For="() => Contact.Email" />
        </p>
        <p>
            <label for="first_name">First Name</label>
            <InputText id="first_name" placeholder="First Name" @bind-Value="@Contact.First" />
            <ValidationMessage For="() => Contact.First" />
        </p>
        <p>
            <label for="last_name">Last Name</label>
            <InputText id="last_name" placeholder="Last Name" @bind-Value="@Contact.Last" />
            <ValidationMessage For="() => Contact.Last" />
        </p>
        <p>
            <label for="phone">Phone</label>
            <InputText id="phone" placeholder="Phone" @bind-Value="@Contact.Phone" />
            <ValidationMessage For="() => Contact.Phone" />
        </p>
        <button>Save</button>
    </fieldset>
</EditForm>
