@page "/contacts/{id:int}/edit"
@inject ContactsRepository Repo
@inject NavigationManager NavMan
@code {
    [SupplyParameterFromForm]
    public Contact? Contact { get; set; }

    [CascadingParameter]
    public required FlashMessageQueue FlashMessages { get; init; }

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Contact = await Repo.Find(Id);
    }

    private async Task OnSubmit()
    {
        if (Contact is not null && await Repo.Save(Contact))
        {
            FlashMessages.Add("Updated Contact!");
            NavMan.NavigateTo($"/contacts/{Contact.Id}");
        }
    }
}
@if (Contact is null) return;

<ContactForm Contact="@Contact" OnValidSubmit="OnSubmit" />

<form action="/contacts/@Contact.Id/delete" method="post" @formname="delete-contact-form" data-enhance>
    <AntiforgeryToken />
    <button>Delete Contact</button>
</form>

<p>
    <a href="/contacts/">Back</a>
</p>