<HtmxRequestView>
    <HtmxContent>
        <Routes />
    </HtmxContent>
    <RegularContent>
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <base href="/" />
            <link rel="stylesheet" href="app.css" />
            <link rel="stylesheet" href="HtmxBlazorSSR.styles.css" />

            <title>Contact App</title>
            <script src="/js/htmx.min.js"></script>
            <script src="/js/_hyperscript-0.9.7.js"></script>
            <script src="/js/rsjs-menu.js" type="module"></script>
            <script defer src="https://unpkg.com/alpinejs@3/dist/cdn.min.js"></script>
            <HeadOutlet />
        </head>
        <body hx-boost="true">
            <main>
                <header>
                    <h1>
                        <all-caps>contacts.app</all-caps>
                        <sub-title>A Demo Contacts Application</sub-title>
                    </h1>
                </header>

                <Routes />

            </main>
        </body>
    </html>
</RegularContent>
</HtmxRequestView>