@page "/edit-row-1/edit-row"
@page "/edit-row-1/edit-row/{id:guid}"
@page "/edit-row-1/edit-row/{id:guid}/edit"
@code {
    [SupplyParameterFromForm]
    public Contact? Contact { get; set; }

    [Parameter]
    public Guid Id { get; set; }

    private bool RenderCondition(HtmxRequest request, Guid id)
    {
        return Id == Guid.Empty || (id == Id && !request.Path.ToUriComponent().EndsWith("/edit"));
    }
}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody hx-target="closest tr" hx-swap="outerHTML">
        @foreach (var contact in DataStore.OfType<Contact>())
        {
            <HtmxFragment Match=@(req => RenderCondition(req, contact.Id))>
                <tr>
                    <td>@contact.FirstName</td>
                    <td>@contact.Email</td>
                    <td>
                        <button class="btn btn-danger"
                                hx-get="/edit-row-1/edit-row/@(contact.Id)/edit">
                            Edit
                        </button>
                    </td>
                </tr>
            </HtmxFragment>
            <HtmxFragment Match=@(req => req.Path.ToUriComponent().EndsWith($"/{contact.Id}/edit"))>
                <tr hx-trigger='cancel' class='editing' hx-get="/edit-row-1/edit-row/@(contact.Id)">
                    <td><input name='Contact.Name' value=@contact.FirstName></td>
                    <td><input name='Contact.Email' value=@contact.Email></td>
                    <td>
                        <button class="btn btn-danger" hx-get="/edit-row-1/edit-row/@(contact.Id)">
                            Cancel
                        </button>
                        <button class="btn btn-danger"
                                hx-put="/edit-row-1/edit-row/@(contact.Id)"
                                hx-include="closest tr">
                            Save
                        </button>
                    </td>
                </tr>
            </HtmxFragment>
        }
    </tbody>
</table>
