@page "/"

<PageTitle>Htmxor - Examples</PageTitle>

<h1>Examples</h1>

<table class="table table-bordered">
    <thead>
        <tr><th>Pattern</th><th>Description</th></tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/examples/archive-toggle">Toggle content with partial update</a></td>
            <td>Demonstrates how to create a toggle button in a table, which is updated using the template fragment / partial rendering pattern.</td>
        </tr>
        <tr>
            <td><a href="/examples/updating-other-content/expand-the-target">Updating Other Content - Expand the Target</a></td>
            <td>Demonstrates how to update content beyond just the target elements by expanding the target.</td>
        </tr>
        <tr>
            <td><a href="/examples/updating-other-content/out-of-band-responses">Updating Other Content - Out of Band Responses</a></td>
            <td>Demonstrates how to update content beyond just the target elements using out-of-band responses.</td>
        </tr>
        <tr>
            <td><a href="/examples/updating-other-content/triggering-events">Updating Other Content - Triggering Events</a></td>
            <td>
                Demonstrates how to update content beyond just the target elements by
                triggering events on the client using HX-Trigger response header.
            </td>
        </tr>
        <tr>
            <td><a href="/examples/updating-other-content/triggering-events-indirectly">Updating Other Content - Triggering Events Indirectly</a></td>
            <td>
                Demonstrates how to update content beyond just the target elements by
                triggering events on the client using HX-Trigger response header from another routable component.
            </td>
        </tr>
        <tr>
            <td><a href="/examples/out-of-band-outlets">Out of Band Outlets</a></td>
            <td>
                Shows how you can leverage <code>SectionContent</code> and <code>SectionOutlet</code> components in Blazor to dynamically
                add out-of-band content to a htmx response. The key is to have the <code>SectionOutlet</code> component in both
                the MainLayout and in the Htmx specific layout.
            </td>
        </tr>
    </tbody>
</table>
