@page "/"

<PageTitle>Home</PageTitle>
<h1>Examples</h1>

All these examples are inspired by the <a href="https://htmx.org/examples/">htmx examples</a> and are implemented using
Htmxor.

<table>
    <thead>
        <tr>
            <th>Pattern</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/click-to-edit-1/contact/1">Click To Edit 1</a></td>
            <td>Demonstrates inline editing of a data object. Two components using native html elements.</td>
        </tr>
        <tr>
            <td><a href="/click-to-edit-2/contact/1">Click To Edit 2</a></td>
            <td>Demonstrates inline editing of a data object. Two components using Blazor form components.</td>
        </tr>
        <tr>
            <td><a href="/click-to-edit-3/contact/1">Click To Edit 3</a></td>
            <td>Demonstrates inline editing of a data object. One combined view/edit component using Blazor form components.</td>
        </tr>
        <tr>
            <td><a href="/bulk-update-1">Bulk Update</a></td>
            <td>Demonstrates bulk updating of multiple rows of data</td>
        </tr>
        <tr>
            <td><a href="/click-to-load-1/load">Click To Load</a></td>
            <td>Demonstrates clicking to load more rows in a table</td>
        </tr>
        <tr>
            <td><a href="/delete-row-1">Delete Row 1</a></td>
            <td>Demonstrates row deletion in a table</td>
        </tr>
        <tr>
            <td><a href="/delete-row-2">Delete Row 2</a></td>
            <td>Demonstrates row deletion in a table</td>
        </tr>
        <tr>
            <td><a href="/edit-row-1/edit-row">Edit Row</a></td>
            <td>Demonstrates how to edit rows in a table</td>
        </tr>
        <tr>
            <td><a href="/lazy-loading-1">Lazy Loading</a></td>
            <td>Demonstrates how to lazy load content</td>
        </tr>
        <tr>
            <td><a href="/inline-validation-1">Inline Validation</a></td>
            <td>Demonstrates how to do inline field validation</td>
        </tr>
        <tr>
            <td><a href="/form-validation-1/form-validation">Form Validation</a></td>
            <td>Demonstrates how to do form field validation</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/infinite-scroll/">Infinite Scroll</a></td>
            <td>Demonstrates infinite scrolling of a page</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/active-search/">Active Search</a></td>
            <td>Demonstrates the active search box pattern</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/progress-bar/">Progress Bar</a></td>
            <td>Demonstrates a job-runner like progress bar</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/value-select/">Value Select</a></td>
            <td>Demonstrates making the values of a select dependent on another select</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/animations/">Animations</a></td>
            <td>Demonstrates various animation techniques</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/file-upload/">File Upload</a></td>
            <td>Demonstrates how to upload a file via ajax with a progress bar</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/file-upload-input/">Preserving File Inputs after Form Errors</a></td>
            <td>Demonstrates how to preserve file inputs after form errors</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/dialogs/">Dialogs - Browser</a></td>
            <td>Demonstrates the prompt and confirm dialogs</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/modal-uikit/">Dialogs - UIKit</a></td>
            <td>Demonstrates modal dialogs using UIKit</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/modal-bootstrap/">Dialogs - Bootstrap</a></td>
            <td>Demonstrates modal dialogs using Bootstrap</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/modal-custom/">Dialogs - Custom</a></td>
            <td>Demonstrates modal dialogs from scratch</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/tabs-hateoas/">Tabs (Using HATEOAS)</a></td>
            <td>Demonstrates how to display and select tabs using HATEOAS principles</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/tabs-javascript/">Tabs (Using JavaScript)</a></td>
            <td>Demonstrates how to display and select tabs using JavaScript</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/keyboard-shortcuts/">Keyboard Shortcuts</a></td>
            <td>Demonstrates how to create keyboard shortcuts for htmx enabled elements</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/sortable/">Drag &amp; Drop / Sortable</a></td>
            <td>Demonstrates how to use htmx with the Sortable.js plugin to implement drag-and-drop reordering</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/update-other-content/">Updating Other Content</a></td>
            <td>Demonstrates how to update content beyond just the target elements</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/confirm/">Confirm</a></td>
            <td>Demonstrates how to implement a custom confirmation dialog with htmx</td>
        </tr>
        <tr>
            <td><a href="https://htmx.org/examples/async-auth/">Async Authentication</a></td>
            <td>Demonstrates how to handle async authentication tokens in htmx</td>
        </tr>
        <tr>
            <td><a href="/redirect-with-navman">Redirect using Nav Man</a></td>
        </tr>
        <tr>
            <td><a href="/hx-vals-escaped">hx-vals-escaped</a></td>
        </tr>
        <tr>
            <td><a href="/hx-on">hx-on</a></td>
        </tr>
        <tr>
            <td><a href="/hx-headers-escaped">hx-headers-escaped</a></td>
        </tr>
    </tbody>
</table>