@inherits LayoutComponentBase
@inject FlashMessageQueue FlashMessages
<main class="container">
    <header>
        <h1 class="text-uppercase">
            contacts.app
        </h1>
        <p class="text-capitalize">A Demo Contacts Application</p>
    </header>
    <FlashMessagesView />
    <CascadingValue IsFixed="true" Value="FlashMessages">
        @Body
    </CascadingValue>
</main>