@inherits LayoutComponentBase
@inject FlashMessageQueue FlashMessages
<main class="container">
    <header>
        <h1>
            <span class="text-uppercase">contacts.app</span><br />
            <span class="text-capitalize">A Demo Contacts Application</span>
        </h1>
    </header>
    <hr />
    <FlashMessagesView />
    <CascadingValue IsFixed="true" Value="FlashMessages">
        @Body
    </CascadingValue>
</main>